<div id="site">
	<nav id="site-header">
		<ul class="flex-list">
			<li class="flex-list-item"><router-link exact to="/">Jobs</router-link></li>
			<li class="flex-list-item flex"><router-link to="/workspaces">Workspaces</router-link></li>
			<li class="flex-list-item" v-if="$store.state.user.isSignedIn"><router-link to="/account">Account</router-link></li>
			<li class="flex-list-item" v-if="!$store.state.user.isSignedIn"><router-link to="/sign-in">Sign in</router-link></li>
			<!--<li class="flex-list-item" v-if="$store.state.user.isSignedIn"><router-link class="flex-list-item" to="/sign-out">Sign out</router-link></li>-->
		</ul>
	</nav>

	<div class="flash" :class="{'flash-error': flash.type === 1}" v-for="flash in $store.state.flashes.flashes">
		<div class="flash-cell">{{flash.message}}</div>
	</div>

	<div id="content">
		<router-view></router-view>
	</div>

	<div id="site-footer">
		<div :title="'JAMS Cloud Server: version ' + $store.state.jamsCloudServerVersion" v-if="$store.state.isConnected">Connected to JAMS Cloud Server</div>
		<div class="connection-status-unconnected" v-else>Not connected to JAMS Cloud Server (server not reachable)</div>
	</div>
</div>
