<div class="center max-width-medium">
	<h1>Workspace</h1>

	<div class="box" v-if="workspace !== null">
		<div>{{workspace.name}}</div>
		<div class="small">
			<span class="tag">Created: {{formattedCreationDate}}</span>
			<span class="tag">Size: {{Math.ceil(workspace.workspaceSize / 1024 / 1024)}} MiB</span>
			<a class="tag" :href="getDownloadUrl(workspace.id)">Download</a>
		</div>

		<div class="workspace-files" v-if="workspace.WorkspaceFileAssociation.length > 0">
			<div>Files ({{workspace.WorkspaceFileAssociation.length}}):</div>
			<ul class="small" id="workspace-file-list">
				<li class="workspace-file-list-item" v-for="file in workspace.WorkspaceFileAssociation">
					<span class="code">{{file.path}}</span>
				</li>
			</ul>
		</div>

		<div class="workspace-files" v-else>
			<div>Files (0)</div>
		</div>
	</div>
</div>
