<div class="center max-width-medium">
	<h1>Workspace</h1>

	<div class="box" v-if="workspace !== null">
		<div>{{workspace.name}}</div>
		<div class="small">
			<span class="tag">ID: {{workspace.id}}</span>
			<span class="tag">Size: {{Math.ceil(workspace.workspaceSize / 1024 / 1024)}} MiB</span>
			<span class="tag">Created: {{formatDate(workspace.creationDate)}}</span>
			<span class="tag">Read-only: {{workspace.readOnly}}</span>
		</div>

		<div class="files" v-if="workspace.WorkspaceFileAssociation.length > 0">
			<div>Files ({{workspace.WorkspaceFileAssociation.length}}):</div>
			<ul class="small">
				<li v-for="file in workspace.WorkspaceFileAssociation">
					<span class="code" :title="'File ID: ' + file.ID">{{file.path}}</span>
				</li>
			</ul>
		</div>

		<div class="files" v-else>
			<div>Files (0)</div>
		</div>
	</div>
</div>
