<div class="center max-width-medium">
	<h1>Workspaces</h1>

	<div class="box" v-for="workspace in workspaces">
		<div>{{workspace.name}}</div>
		<div class="small">
			<span class="tag">Created: {{formatDateTime(workspace.creationDate)}}</span>
			<span class="tag">Size: {{Math.ceil(workspace.workspaceSize / 1024 / 1024)}} MiB</span>
			<span class="tag">Read-only: {{workspace.readOnly}}</span>
			<router-link class="tag" :to="'/workspaces/show/' + workspace.id">Details</router-link>
		</div>
	</div>

	<div class="box" v-if="workspaces.length === 0">
		<div class="text-center">No workspaces</div>
	</div>
</div>
