<div class="center max-width-medium">
	<h1>Jobs</h1>

	<div class="box" v-for="job in jobs">
		<div>Job</div>
		<div class="small">
			<span class="tag">Started: {{formatDateTime(job.startTime)}}</span>
			<span class="tag">Model: {{job.modelFile.path}}</span>
			<router-link class="tag" :to="{name: 'workspace', params: {id: job.workspace.id}}">Workspace {{job.workspace.id}}</router-link>
			<a class="tag" @click="removeJob(job)">Remove</a>
			<router-link class="tag" :to="{name: 'job', params: {id: job.id}}">Details</router-link>
		</div>
	</div>

	<div class="box" v-if="jobs.length === 0">
		<div class="text-center">No jobs</div>
	</div>

	<div id="jobs-server-load" :title="'Server load: ' + Math.round(serverLoad * 100) + '%'" v-if="$store.state.isConnected && serverLoad !== -1">
		Server load
		<div id="jobs-server-load-bar">
			<div id="jobs-server-load-value" :style="{width: serverLoad * 100 + '%'}"></div>
		</div>
	</div>
</div>
