<div v-if="job">
	<h1>Job</h1>

	<div class="box center max-width-large">
		<div>Job</div>
		<div class="text-smaller">
			<span class="tag">Started: {{formattedStartTime}}</span>
			<span class="tag">Model: {{job.modelFile.path}}</span>
			<span class="tag">Size: {{Math.ceil(size / 1024 / 1024)}} MiB</span>
			<a class="tag" :href="getDownloadUrl(job.workspace.id)" v-if="job.PID === -1">Download</a>
			<span class="tag" v-if="job.PID > -1">Running ({{Math.round(progress * 100)}}%)</span>
			<span class="tag" v-if="job.PID === -2">Stopping</span>
			<a class="tag" @click="removeJob(job.id)" v-if="job.PID <= -1">Remove</a>
			<a class="tag" @click="stopJob(job.id)" v-if="job.PID > -1">Stop</a>
			<!--<span class="tag">Duration: {{formattedDuration}}</span>-->
		</div>
	</div>

	<h3>Info log</h3>
	<div class="box center max-width-large">
		<pre class="text-smaller" v-if="infoLog">{{infoLog}}</pre>
		<div class="text-center" v-else><em>Empty</em></div>
	</div>

	<h3>Error log</h3>
	<div class="box center max-width-large">
		<pre class="text-smaller" v-if="errorLog">{{errorLog}}</pre>
		<div class="text-center" v-else><em>Empty</em></div>
	</div>

	<h3>Files</h3>
	<div class="box center max-width-large" v-if="job.workspace.WorkspaceFileAssociation.length > 0">
		<ul class="text-smaller">
			<li class="workspace-file-list-item" v-for="file in job.workspace.WorkspaceFileAssociation">
				<span class="code">{{file.path}}</span>
			</li>
		</ul>
	</div>

	<div class="box center max-width-large" v-else>
		<div class="text-center"><em>No files</em></div>
	</div>
</div>
