<div v-if="job">
	<h1>Job</h1>

	<div class="box center max-width-large">
		<div>Job</div>
		<div class="small">
			<span class="tag">Started: {{formattedStartTime}}</span>
			<span class="tag">Active: {{isActive}}</span>
			<span class="tag">Progress: {{progress}}</span>
			<span class="tag">Duration: {{formattedDuration}}</span>
			<span class="tag">Size: {{Math.ceil(size / 1024 / 1024)}} MiB</span>
			<span class="tag">Model: {{job.modelFile.path}}</span>
			<router-link class="tag" :to="{name: 'workspace', params: {id: job.workspace.id}}">Workspace {{job.workspace.id}}</router-link>
		</div>
	</div>

	<h3>Info log</h3>
	<div class="box center max-width-large">
		<pre v-if="infoLog">{{infoLog}}</pre>
		<div class="text-center" v-else><em>No info</em></div>
	</div>

	<h3>Error log</h3>
	<div class="box center max-width-large">
		<pre v-if="errorLog">{{errorLog}}</pre>
		<div class="text-center" v-else><em>No errors</em></div>
	</div>
</div>
