<div class="center max-width-medium">
	<h1>Job</h1>

	<div class="box" v-if="job !== null">
		<div>Job</div>
		<div class="small">
			<span class="tag">Started: {{formattedStartTime}}</span>
			<span class="tag">Active: {{isActive}}</span>
			<span class="tag">Progress: {{progress}}</span>
			<span class="tag">Duration: {{formattedDuration}}</span>
			<span class="tag">Size: {{Math.ceil(size / 1024 / 1024)}} MiB</span>
			<span class="tag">Model: {{job.modelFile.path}}</span>
			<router-link class="tag" :to="'/workspaces/show/' + job.workspace.id">Workspace {{job.workspace.id}}</router-link>
		</div>
	</div>
</div>
